# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name- Leighann Robinson
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [1]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[]

In [2]:
for x in list1:
    print(x**2)

1
4
9
16
25
36
49
64
81
100

In [3]:
list2=list1

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [4]:
import random

In [ ]:
max

In [ ]:
min

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [5]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]

In [6]:
new_list[2]

'day'

In [7]:
new_list[1][1]

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [8]:
College=("Bellarmine", "2001 Neuburg RD")

In [9]:
College[0]

'Bellarmine'

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [10]:
age=int(input("Enter an age: "))
if age<18:
    print("Minor")
else:
    print("An Adult")

Enter an age: 17
Minor

In [11]:
age=int(input("Enter an age: "))
if age<18:
    print("Minor")
else:
    print("An Adult")

Enter an age: 56
An Adult

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [12]:
number1=int(input("Enter a number: "))
if number1%2 and number1>10:
    print("Odd and greater than 10")
else:
    print("Even or less than 10")

Enter a number: 17
Odd and greater than 10

In [13]:
number1=int(input("Enter a number: "))
if number1%2 and number1>10:
    print("Odd and greater than 10")
else:
    print("Even or less than 10")

Enter a number: 6
Even or less than 10

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [14]:
number=int(input("Enter a number: "))
if number%11:
    print("Not a multiple of 11")
else:
    print("Multiple of 11")

Enter a number: 23
Not a multiple of 11

In [15]:
number=int(input("Enter a number: "))
if number%11:
    print("Not a multiple of 11")
else:
    print("Multiple of 11")

Enter a number: 22
Multiple of 11

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [16]:
keys = [10, 20, 30]
values =['Ten', 'Twenty', 'Thirty']
dict(zip(keys,values))

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [17]:
def maximum(*args):
     return max(args)

In [18]:
maximum(10,61,99,42,3)

99

In [19]:
maximum(5,6,84,156,1000)

1000

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [20]:
class Square:
    def __init__(self, length):
        self.length = length

    def area(self):
        return self.length**2

    def perimeter(self):
        return 4 * self.length

In [21]:
square=Square(10)
print(square.area())
print(square.perimeter())

100
40

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [22]:
for number in range(10,21):
    print(number)

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
while number in range(10,21):
    print(number)
    number=+1